*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.contain{
    width: 100%;
   min-height: 100vh;
}
#header1{
    width: 100%;
    height: 100px;
    
}
#header1 img{
    width: 29%;
    height: 100%;
    
    float: left;
}
#search{
    width: 450px;
    height: 40px;
    float: left;
    margin-left: 50px;
    margin-top: 30px;
    border-color:dodgerblue;
    padding-left: 10px;
}
#searchbtn{
    width: 50px;
    height: 40px;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    background-color: white;
    border-color: dodgerblue;
}
#header1 ul{
  
    margin-top: 38px;
    float: left;
    margin-left: 30px;

}
#header1 ul li{
    list-style: none;
    display: inline;
    margin-left: 25px;
}
#header1 ul li a{
    text-decoration: none;
    color: dodgerblue;
}
#menu{
    width: 100%;
    height: 40px;
   padding-top: 10px;
    background-color: #0077B6;
}
#menu ul{
    
    margin-left: 50px;
}
#menu ul li{
    list-style: none;
    display: inline;
    margin-left: 50px;
}
#menu ul li a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}
.carousel-item  .img-fluid{
    
   width: 100%;
   height: 700px;
}
.carousel-caption{
    margin-left: -100px;
    height: 450px;
    width: 45%;
    background-color: rgba(0,0,0,0.5);
      
}
.head{
 
 margin-left: -35px;
 
 font-size: 50px;
 font-weight: bold;
 
 color:white;
}
.carousel-item .carousel-caption p{
    width: 90%;
   
    margin-left: 40px;
    font-size: 30px;
    line-height: 30px;
    color:whitesmoke;
}
.first{
    width: 70%;
    height: 370px;
    /* border: 1px solid  blue; */
    margin-left: 30px;
}
.first h1{
    margin-top: 20px;
    font-size: 40px;
}
.first p{
    font-size: 27px;
    line-height: 40px;
    margin-top: 60px;
}
.css-7u7i0a {
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: 600;
}
.css-17ztj4b {
    margin-left: -15px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}


.css-t753mo  {
    position: relative;
    color: blue;
} 
.css-1ggiqr2 {
    cursor: pointer;
    text-decoration: none;
    border-color: currentColor;
    color: white;
    padding: 0 6px;
    font-size: 20px !important;   
}
.css-t753mo :hover{
    color: red;
}
/* .container{
    width: 85%;
    margin-left: 200px;
    height: 500px;
    border: 1px solid navy;
}
*/
.second{
 margin-top: -10px;
 background-color: bisque;
} 

.second  .icon{
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin-top: 20px;
  background-color: black;
  border: 2px solid #8dc2f1;
  transition: 0.5s;
}
  .second:hover .icon {
    background: #3fbbc0;
  }
  .conntain:hover .icon i{
    color: white;
  }
  .second .col p{
    margin-top: -40px !important;
  }
  .second .col p a{
    text-decoration: none;
    margin-left: 60px;
    color: black; 
  }
  .excersise .container .col{
        width: 100;
    height: 600px;
    background-color: whitesmoke;
  }
  .fit{
    background-color: w;
  }
  #footer{
    width: 100%;
    height:400px;
    background-color: #08090d;
    padding-top: 40px;
    margin-top: 20px;
}
#box1,#box2,#box3,#box4{
    width: 22%;
    height: 90%;
    
    margin-left: 30px;
    float: left;
}
#box1 img{
    width: 100%;
}
#box1 p{
    color: rgb(253, 250, 250);
    margin-top: 15px;
    margin-left: 15px;
}
#box1 i{
    margin-left: 15px;
    margin-top: 15px;
    font-size: 0.7rem;
    color: rgb(250, 247, 247);
}
#box2 h2,#box3 h2,#box4 h2{
    margin-left: 100px;
    margin-top: 20px;
    font-size: 1rem;
    color: rgb(252, 249, 249);
}
#box2 p,#box3 p{
    margin-left: 100px;
    margin-top: 40px;
}
#box2 p a,#box3 p a{
   
    font-size: 1rem;
    color: rgb(250, 246, 246);
    text-decoration: none;
}
#box4 p{
    margin-left: 50px;
    margin-top: 20px;
    color: rgb(247, 243, 243);
}

#email{
    margin-left: 50px;
    margin-top: 20px;
    width: 250px;
    padding-left: 10px;
    height:40px ;
    
}
#sub{
    margin-left: 50px;
    height:40px ;
    background-color: #009999;
    width: 100px;
    margin-top: 20px;
    border-radius: 7px;
    color: rgb(252, 251, 251);
}
#last{
    width: 100%;
    height: 60px;
    background-color: #282B38;
}
#last p:nth-child(1){
    float: left;
    color: white;
    margin-top: 15px;
    margin-left: 50px
}
#last p:nth-child(2){
    float: right;
    color: white;
    margin-top: 15px;
    margin-right: 50px
}