*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width: 100%;
    min-height: 100vh;
  
}
#header1{
    width: 100%;
    height: 100px;
    
}
#header1 img{
    width: 29%;
    height: 100%;
    
    float: left;
}
#search{
    width: 450px;
    height: 40px;
    float: left;
    margin-left: 50px;
    margin-top: 30px;
    border-color:dodgerblue;
    padding-left: 10px;
}
#searchbtn{
    width: 50px;
    height: 40px;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    background-color: white;
    border-color: dodgerblue;
}
#header1 ul{
  
    margin-top: 38px;
    float: left;
    margin-left: 30px;

}
#header1 ul li{
    list-style: none;
    display: inline;
    margin-left: 25px;
}
#header1 ul li a{
    text-decoration: none;
    color: dodgerblue;
}
#menu{
    width: 100%;
    height: 40px;
   padding-top: 10px;
    background-color: #0077B6;
}
#menu ul{
    
    margin-left: 50px;
}
#menu ul li{
    list-style: none;
    display: inline;
    margin-left: 50px;
}
#menu ul li a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}
.btn-container{
    background-color: #E12454;
    width: 35%;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: uppercase;
    border-radius: 20px;
    text-transform: uppercase;
    color: white;
}