*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width: 100%;
    min-height: 100vh;
  
}
#header1{
    width: 100%;
    height: 100px;
    
}
#header1 img{
    width: 29%;
    height: 100%;
    
    float: left;
}
#search{
    width: 450px;
    height: 40px;
    float: left;
    margin-left: 50px;
    margin-top: 30px;
    border-color:dodgerblue;
    padding-left: 10px;
}
#searchbtn{
    width: 50px;
    height: 40px;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    background-color: white;
    border-color: dodgerblue;
}
#header1 ul{
  
    margin-top: 38px;
    float: left;
    margin-left: 30px;

}
#header1 ul li{
    list-style: none;
    display: inline;
    margin-left: 25px;
}
#header1 ul li a{
    text-decoration: none;
    color: dodgerblue;
}
#menu{
    width: 100%;
    height: 40px;
   padding-top: 10px;
    background-color: #0077B6;
}
#menu ul{
    
    margin-left: -30px;
}
#menu ul li{
    list-style: none;
    display: inline;
    margin-left: 50px;
}
#menu ul li a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

#content{
    width: 100%;
    min-height: 800px;
    height: 2000px;
}
.table{
    height: 400px;
    width: 20%;
    background-color: lightblue;
    margin-top: 20px;
    position: sticky;
}
.container1{
    margin:250px ;
    
    width: 50%;
    height: 800px;
    margin-left: 370px;
    margin-top: -2px;
   
}
.image img{
    width: 100%;
    height: 600px;
    margin-top: 10px;
}
.inner button{
    margin: 400px;
    border: 2px solid blue;
    background-color: blue;
    border-radius: 20px;
    height: 30px;
    width: 20%;
    color: white;
}
.image div{
    position: absolute;
    /* margin-bottom: 200px; */
    top: 60px;
    margin: 150px;
    color: rgb(4, 4, 4);
}
.image div img{
    height: 300px;
    width: 100%;
    margin-left: 550px;
    
bottom: 160px;
border-radius: 10%;
}
.thri{
    background-color: #eef4f7;
    height: 500px;
    width: 100%;

}
.thri h1{
    margin-left: 400px;
    margin-top: 20px;
}
.thri1{
    background-color: #f3f4f7;
    height: 400px;
    width: 100%;
    margin-left: ;
}
.box{
    height: 650px;
    
    padding: 20px;
}
.box1,.box2,.box3{
    height: 300px;
    background-color: #f9f9f9;
    width: 350px;
   
    margin: 35px;   
    float: left;
}
/* .box1,.box2,.box3:hover{
    transform: scale(1.5);
} */
.forth1{
    height: 120px;
    width: 10%;
    /* background-color: red; */
    float: left;
    margin: 55px;
    padding-left: 30px;
    
}
.forth{
    background-color: white;
    height: 450px;
    width: 100%;
    margin-right: 20px;

}
.forth h1{
    margin-left: 500px;
}
.fiv{
    background-color: white;
    height: 450px;
    width: 100%;
}
.fiv1{
    width: 50%;
    margin-left: 370px;
    margin-top: 30px;
}

.fiv1 button {
    margin-right: 30px;
    margin-left: 200px;
    margin-top: 40px;
    border: 2px solid blue;
    border-radius: 20px;
    background-color: blue;
    color: white;
}
.fiv h1{
    margin-left: 500px;
}
.six{
    background-color: #fbfdfd;
    height: 700px;
    width: 100%;
}
.six1{
   
    height: 150px;
    width: 25%;
    margin-left: 540px;
    margin-top: 20px;
    
}
.six1 img{
    height: 200px;
    width: 100%;
}
.six2{
    /* background-color: #eef4f7; */
    height: 200px;
    width: 25%;
    margin-left: 740px;
    margin-top: 80px;
}
.six2 img{
    width: 100%;
}
#footer{
    width: 100%;
    height:400px;
    background-color: #08090d;
    padding-top: 40px;
    margin-top: 20px;
}
#box1,#box2,#box3,#box4{
    width: 22%;
    height: 90%;
    
    margin-left: 30px;
    float: left;
}
#box1 img{
    width: 100%;
}
#box1 p{
    color: rgb(253, 250, 250);
    margin-top: 15px;
    margin-left: 15px;
}
#box1 i{
    margin-left: 15px;
    margin-top: 15px;
    font-size: 0.7rem;
    color: rgb(250, 247, 247);
}
#box2 h2,#box3 h2,#box4 h2{
    margin-left: 100px;
    margin-top: 20px;
    font-size: 1rem;
    color: rgb(252, 249, 249);
}
#box2 p,#box3 p{
    margin-left: 100px;
    margin-top: 40px;
}
#box2 p a,#box3 p a{
   
    font-size: 1rem;
    color: rgb(250, 246, 246);
    text-decoration: none;
}
#box4 p{
    margin-left: 50px;
    margin-top: 20px;
    color: rgb(247, 243, 243);
}

#email{
    margin-left: 50px;
    margin-top: 20px;
    width: 250px;
    padding-left: 10px;
    height:40px ;
    
}
#sub{
    margin-left: 50px;
    height:40px ;
    background-color: #009999;
    width: 100px;
    margin-top: 20px;
    border-radius: 7px;
    color: rgb(252, 251, 251);
}
#last{
    width: 100%;
    height: 60px;
    background-color: #282B38;
}
#last p:nth-child(1){
    float: left;
    color: white;
    margin-top: 15px;
    margin-left: 50px
}
#last p:nth-child(2){
    float: right;
    color: white;
    margin-top: 15px;
    margin-right: 50px
}
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
} */
