*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width: 100%;
    min-height: 100vh;
  
}
#header1{
    width: 100%;
    height: 100px;
    
}
#header1 img{
    width: 29%;
    height: 100%;
    
    float: left;
}
#search{
    width: 450px;
    height: 40px;
    float: left;
    margin-left: 50px;
    margin-top: 30px;
    border-color:dodgerblue;
    padding-left: 10px;
}
#searchbtn{
    width: 50px;
    height: 40px;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    background-color: white;
    border-color: dodgerblue;
}
#header1 ul{
  
    margin-top: 38px;
    float: left;
    margin-left: 30px;

}
#header1 ul li{
    list-style: none;
    display: inline;
    margin-left: 25px;
}
#header1 ul li a{
    text-decoration: none;
    color: dodgerblue;
}
#menu{
    width: 100%;
    height: 40px;
   padding-top: 10px;
    background-color: #0077B6;
}
#menu ul{
    
    margin-left: -30px;
}
#menu ul li{
    list-style: none;
    display: inline;
    margin-left: 50px;
}
#menu ul li a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

#content{
    width: 100%;
    min-height: 800px;
    height: 2000px;
}
.table{
    height: 400px;
    width: 20%;
    background-color: lightblue;
    margin-top: 20px;
    position: sticky;
}
.container1{
    margin:250px ;
    
    width: 50%;
    height: 800px;
    margin-left: 370px;
    margin-top: -2px;
   
}
.image img{
    width: 100%;
    height: 600px;
}
.inner button{
    margin: 400px;
    background-color: blue;
    border: 2px solid blue;
    height: 70px;
    width: 25%;
    border-radius: 20px;
    color: white;
}
.image div{
    position: absolute;
    /* margin-bottom: 200px; */
    top: 60px;
    margin: 150px;
    color: rgb(4, 4, 4);
}
.image div img{
    height: 300px;
    width: 100%;
    margin-left: 550px;
    
bottom: 160px;
border-radius: 10%;
}
.thri{
    background-color: #eff3f4;
    height: 600px;
    width: 100%;

}
.thri h1{
    margin-left: 500px;
    margin-top: 20px;
}
.thri button{
    margin-left: 500px;
    background-color: blue;
    border: 2px solid blue;
    height: 60px;
    width: 20%;
    border-radius: 20px;
    color: white;
}


.thri1{
    background-color: #f3f4f7;
    height: 400px;
    width: 100%;
    margin-left: ;
}
.box{
    height: 650px;
    
    padding: 20px;
}
.box1,.box2,.box3{
    height: 300px;
    background-color: #ebe1e1;
    width: 280px;

    margin: 70px;   
    float: left;
}
.box1 img{
    width: 100%;
}
.forth h1{
    margin-left: 500px;
}
.forth1{
    height: 140px;
    width: 20%;
    background-color: rgb(215, 198, 198);
    float: left;
    margin: 70px;
    border: 1px solid black;

    
}
.forth1 p{
    margin-left: 20px;
    margin-top: 10px;
}
.forth1 button{
    margin-left: 90px;
    background-color: blue;
    width: 29%;
    border: 1px solid blue;
    border-radius: 10px;
    color: white;
}
.forth1:hover{
    background-color: white;
}
.forth12{
    height: 140px;
    width: 20%;
    background-color: rgb(197, 178, 178);
    float: left;
    margin: 50px;
    mar

    
}
.forth{
    background-color: white;
    height: 550px;
    width: 100%;
    margin-right: 20px;

}
.fiv h1{
    margin-right: 50px;
    margin-left: 530px;
}
.fiv{
    background-color: #fcfbfa;
    height: 400px;
    width: 100%;
}
.forth121{
    height: 140px;
    width: 20%;
    background-color: rgb(222, 212, 212);
    float: left;
    margin: 70px;
    border: 1px solid black;
    
}
.forth121 button{
    background-color: blue;
    border: 1px solid blue;
    border-radius: 10px;
    margin: 50px;
    color: white;
    margin-left: 80px;
    width: 29%;
}
.forth121 p{
    margin-left: 20px;
    margin-top: 10px;
}
.forth121:hover{
    background-color: white;
}
.fiv1 button {
    margin-right: 30px;
}
.fiv1 b{
    margin-right: 50px;
}
.six{
    background-color: #fafcfc;
    height: 400px;
    width: 100%;
    border: 1px solid rgb(243, 232, 232);
}
.six button{
    margin-left: 600px;
    margin-top: 160px;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 10px;
    width: 10%;
    color: white;
    height: 20px;
}
.six h1{
   
   margin-right: 400px; 
   margin-left: 520px;

}
.six1{
    background-color: white;
    height: 100px;
    width: 25%;
    margin-left: 80px;
   margin-top: 30px
    
}
.six2{
    background-color: white;
    height: 100px;
    width: 25%;
    margin-left: 400px;
    margin-top: -94px;
}
.six3{
    background-color: white;
    height: 100px;
    width: 25%;
    margin-left: 800px;
    margin-top: -94px;
}
.six4{
    background-color: white;
    height: 100px;
    width: 25%;
    margin-left: 1100px;
    margin-top: -94px;
    /* margin-top: 20px; */
}
.six1 button{
    margin: 20px;
    margin-left: 100px;
}
#footer{
    width: 100%;
    height:400px;
    background-color: #08090d;
    padding-top: 40px;
}
#box1,#box2,#box3,#box4{
    width: 22%;
    height: 90%;
    
    margin-left: 30px;
    float: left;
}
#box1 img{
    width: 100%;
}
#box1 p{
    color: rgb(253, 253, 253);
    margin-top: 15px;
    margin-left: 15px;
}
#box1 i{
    margin-left: 15px;
    margin-top: 15px;
    font-size: 0.7rem;
    color: rgb(250, 248, 248);
}
#box2 h2,#box3 h2,#box4 h2{
    margin-left: 100px;
    margin-top: 20px;
    font-size: 1rem;
    color: rgb(240, 231, 231);
}
#box2 p,#box3 p{
    margin-left: 100px;
    margin-top: 40px;
}
#box2 p a,#box3 p a{
   
    font-size: 1rem;
    color: rgb(248, 243, 243);
    text-decoration: none;
}
#box4 p{
    margin-left: 50px;
    margin-top: 20px;
    color: rgb(249, 243, 243);
}

#email{
    margin-left: 50px;
    margin-top: 20px;
    width: 250px;
    padding-left: 10px;
    height:40px ;
    
}
#sub{
    margin-left: 50px;
    height:40px ;
    background-color: #009999;
    width: 100px;
    margin-top: 20px;
    border-radius: 7px;
    color: rgb(241, 230, 230);
}
#last{
    width: 100%;
    height: 60px;
    background-color: #070707;
}
#last p:nth-child(1){
    float: left;
    color: white;
    margin-top: 15px;
    margin-left: 50px
}
#last p:nth-child(2){
    float: right;
    color: white;
    margin-top: 15px;
    margin-right: 50px
}
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
} */
