*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body
{
    background-color: #080808;
    color: #fff;
}
.headder
{
    border: 2 px solid greenyellow;
    background-color: red;
    width: 100%;
    height: 100vh;
    background-image:;C:\Users\Dell\Desktop\loop\while\java\myimage.jpg
    background-position: center;
}