
* {
		font-family: 'Montserrat', sans-serif;
	}
	.bg-light {
		background-color: transparent !important;
	}
	.carousel-item {
		height: 100vh;
		min-height: 300px;
	}
	.carousel-caption {
		bottom: 220px;
	}
	.carousel-caption h5 {
		font-size: 45px;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-top: 25px;
	}
	.carousel-caption p {
		width: 60%;
		margin: auto;
		font-size: 18px;
		line-height: 1.9;
	}
	.carousel-caption a {
		text-transform: uppercase;
		text-decoration: none;
		background:  #1977cc;
		padding: 10px 30px;
		display: inline-block;
		color: #000;
		margin-top: 15px;
	}
	.navbar-nav a {
		font-size: 15px;
		text-transform: uppercase;
		font-weight: bold;
	}
	.navbar-nav{
		margin-right: -30px;
		background-color: rgba(0,0,0,0.5);
	}
	.navbar-brand 
	{
		width: 25%;
		/* background-color: rgba(0,0,0,0.5); */
	}
	.navbar-light .navbar-brand {
		color: #fff;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 2px;
	}
	.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
		color: #fff;
	}
	.navbar-light .navbar-nav .nav-link {
		color: #fff;
	}
	.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
		color: #fff;
	}
	.w-100 {
		height: 100vh;
	}
	.navbar-toggler {
		padding: 1px 5px;
		font-size: 18px;
		line-height: 0.3;
		background: #fff;
	}
	@media only screen and (max-width: 767px) {
		.navbar-nav {
			text-align: center;
			background: rgba(0, 0, 0, 0.5);
		}
		.carousel-caption {
			bottom: 165px;
		}
		.carousel-caption h5 {
			font-size: 17px;
		}
		.carousel-caption a {
			padding: 10px 15px;
			font-size: 15px;
		}
	}
	   .btn {
		background-color:#4285f4;
            color: #fff;
            font-size: 20px;
            font-weight: 800;
            text-transform: uppercase;
            position: relative;
            border-radius: 0 !important;
            border: none;
            transition:all 0.3s ease 0s;
        }
        .btn:hover,
        .btn.active:hover{
            color: #ffffff;
        }
        .btn:before{
            content: "";
            position: absolute;
            top: -7px;
            left: 0;
            background-color:#2E0014;
            width: 30%;
            height: 4px;
            transition:all 0.3s ease 0s;
        }
        .btn:after{
            content: "";
            position: absolute;
            bottom: -7px;
			background-color: #F48224;
            right: 0;
            width: 30%;
            height: 4px;
            transition:all 0.3s ease 0s;
        }
        .btn:hover:before,
        .btn:hover:after,
        .btn.active:before,
        .btn.active:after{
            width: 100%;
        }

        @media screen and (max-width: 575px){
            .btn{
                margin-bottom: 50px !important;
            }
        }
		.features{
			/* background:rgb(255, 247, 233); */
		}
		 /** Flatted button %placeholder **/
		 .features {
			padding-bottom: 30px;
			margin-top: 30px;
		  }
		  
		  .features .count-box {
			background:rgb(255, 247, 233);
			box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
			padding: 30px;
			width: 100%;
		  }
		  .features .count-box a {
			font-weight: 600;
			margin-top: 20px;
			color: #7b7b7b;
			font-size: 15px;
			font-family: "Poppins", sans-serif;
			transition: ease-in-out 0.3s;
		  }
		  .features .count-box a:hover{
			color: #4285f4;
		  }
		  .features .count-box:hover{
			transform: scale(0.7);
		  }
		.conntain  .icon{
			align-items: center;
			justify-content: center;
		  width: 64px;
		  height: 64px;
		  border: 2px solid #8dc2f1;
		  border-radius: 50px;
		  transition: 0.5s;
		}
		  .conntain:hover .icon {
			background: #3fbbc0;
			/* border-color: #3fbbc0; */
		  }
		  .conntain:hover .icon i{
			color: white;
		  }
		  .conntain .title {
			margin-left: 85px;
			font-weight: 700;
			margin-bottom: 10px;
			font-size: 18px;
		  }
		  
		  .conntain  .title a {
			color: #343a40;
			transition: 0.3s;
		  }
		  
		  .conntain  .title a:hover {
			color: #1977cc;
		  }
		  .conntain .title {
			margin-left: 85px;
			margin-top: -40px;
		  }
		  
		  .conntain .title a {
			text-decoration: none;
			color: #1977cc;
		  }
		  
		  .conntain  .title a:hover {
			color: red;
		  }
		.team_wrapper .card:hover{
			-webkit-transform:translateY(-0.625rem);
			transform:translateY(-0.625rem);
		}
		.hospitals{
			margin: 0;
			padding: 0;
			min-height: 100vh;
			background: #333;
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: consolas;
		}
	
		
		.container .card{
			position: relative;
			cursor: pointer;
		}
		
		.container .card .face{
			width: 300px;
			height: 200px;
			transition: 0.5s;
		}
		
		.container .card .face.face1{
			position: relative;
			background:rgb(230, 153, 20);
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 1;
			transform: translateY(100px);
		}
		
		.container .card:hover .face.face1{
			background: #ff0057;
			transform: translateY(0);
		}
		
		.container .card .face.face1 .content1{
			opacity: 0.12;
			transition: 0.5s;
		}
		
		.container .card:hover .face.face1 .content1{
			opacity: 1;
		}
		
		.container .card .face.face1 .content1 img{
			max-width: 100px;
		}
		
		.container .card .face.face1 .content h3{
			margin: 10px 0 0;
			padding: 0;
			color: #fff;
			margin-left: 20px;
			text-align: center;
			font-size: 1.5em;
		}
		
		.container .card .face.face2{
			box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
			transform: translateY(-100px);
		}
		
		.container .card:hover .face.face2{
			transform: translateY(0);
		}
		
		.container .card .face.face2 .content1 p{
			margin: 0;
			padding: 0;
		}
		
		.container .card .face.face2 .content1 a{
			margin: 15px 0 0;
			display:  inline-block;
			text-decoration: none;
			font-weight: 900;
			color: #333;
			padding: 5px;
			border: 1px solid #333;
		}
		
		.container .card .face.face2 .content1 a:hover{
			background: #333;
			color: #fff;
		}
		@media screen and (max-width:360px) {
			
		}
		