* {
    margin: 0;
    padding: 0;
  }
  
  #maindiv {
    height: 60px;
    background-color: whitesmoke;
    display: flex;
    justify-content: evenly;
    align-items: center;
    width: 100%;
  }
  
  #div1,
  #div3 {
    height: 50px;
    width: 40%;
  }
  #div2 {
    height: 50px;
    width: 60%;
  }
  
  #logoimage {
    height: 40px;
    width: 30%;
    margin: 10px;
    margin-left: 40px;
  }
  #inputfiled {
    height: 30px;
    width: 40%;
    margin: 8px;
    margin-left: 160px;
    border-radius: 16px;
    font-size: 16px;
    padding-left: 15px;
    background-color: whitesmoke;
  }
  #button1 {
    height: 35px;
    width: 100px;
    margin: 8px;
    margin-left: 80px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 17px;
    background-color:blueviolet;
  }
  
  #button2 {
    height: 35px;
    width: 100px;
    margin: 8px;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 17px;
    background-color: #410cef;
  }
  
  #firstrow {
    height: 600px;
    background-color: rgb(68, 68, 73);
  }
  